
body{
    margin-top: 100px;
}

ul li{
    border: 1px solid grey;
    list-style: none;
    padding: 5px;
    
}

ul{
    padding-right: 40px;
    margin-bottom: 0px;
    width: 50%  ;
   
}

h1{
    text-align: center;
    
}
input{border: none; }

.bi-x-circle{
    float: right;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    
  }

  .custom-input {
    width: 300%; /* Adjust as needed (e.g., 300px, 50%) */
    max-width: 600px; /* Optional: set a max-width limit */
    padding: 10px; /* Optional: adds padding for better usability */
    border: solid 1px black;
  }
  .list-group-item {
    width: 300%
  }